/* Body */
body
{
    /* Fonte */
    font-family: Arial, Helvetica, sans-serif;

    /* Fundo */
    background-color: #fffbea48;
}

/* Cabeçalho */
.cabecalho
{
    /* Fundo */
    background-color: #0000000a;

    /* Tamanho */
    width: auto;
    height: 50px;

    font-weight: bolder;
}
.titulo
{
    /* Texto */
    text-align: justify;
    color: rgb(39, 39, 39);
    font-size: 25px;

    height: auto;
    width: 220px;

    /* posição */
    padding-right: 20px;
    padding-top: 15px;

    margin-left: auto;

    transition: 0.5s;
}
.titulo:hover
{
    transition: 0.5s;
    color: rgba(0, 0, 0, 0.616);
}

/* Navegação */
.navegacao
{
    /* Fundo */
    background-color: #0000000a;

    padding-left: 20px;
    padding-right: 20px;

    /* Tamanho */
    height: 40px;
}
ul
{
    /* Margens */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
li
{
    /* Texto */
    text-align: center;
    font-size: 20px;
}
a
{
    font-weight: bolder;
    text-decoration: none;
    color: rgb(0, 0, 0);

    transition: 0.5s;
}
a:hover
{
    color: #555555;
    transition: 0.5s;
}
#lancamento 
{
    display: inline-block;
    position: absolute;
    left: 10px;
}
#outLeituras
{
    position: absolute;
    left: 190px;
}
#sobre
{
    display: block;

    width: 0px;
    height: 0px;

    margin-left: auto;
    margin-right: 50px;
}

/* Roda pé */
.rodape
{
    height: 20px;

    background-color: #e0e0e021;

    margin: 50px auto 0px auto;

    text-align: center;
}
hr 
{
    display: block;

    margin-bottom: 2px;

    width: auto;
    border: 0;
    height: 1px;
    background: #333;
}

/* Main */
.conteudo
{
    margin: 0px 20px 0px 20px;
    text-align: justify;
}
h1
{ 
    padding-top: 10px;
    padding-bottom: 10px; 
    /* Texto */
    font-size: 20px;
    font-weight: bold;
    text-align: center; 
}
img { display: block; margin: 10px auto 10px auto; width: 250px; transition: 0.5s;}
img:hover { width: 280px; background-color: #777777; transition: 0.5s;}
figcaption 
{ 
    text-align: center; 
    font-size: 10px; 
    /* posições */
    padding-bottom: 10px;
}

table
{
    margin: 10px auto 10px auto;

    width: 600px;
    height: 200px;

    border: 1px solid rgb(187, 187, 187);
}
caption
{
    /* Texto */
    text-align: center;
    font-weight: bold; 
    font-size: 17px;

    padding-top: 10px;
    /* Fundo */
    background-color: #00000038;
    height: 25px;
    transition: 0.5s;
}
caption:hover { transition: 0.5s; background-color: #000000cc; color: #eeeeee; }
.CE
{
    padding-right: 5px;
    padding-top: 5px;
    padding-left: auto;
    padding-bottom: auto;

    text-align: right;
    font-weight: bold;

    background-color: #eeeeee;
    border: 1px solid rgb(187, 187, 187);

    transition: 1s;
}
.CE:hover 
{ 
    transition: 1s; 
    background-color: #c4c4c4;
}
.CD
{
    padding-right: 5px;
    padding-top: auto;
    padding-left: 5px;
    padding-bottom: auto;
    
    text-align: justify;

    background-color: #fafafa;
    border: 1px solid rgb(187, 187, 187);

    transition: 0.5s;
}
.CD:hover { transition: 0.5s; background-color: #000000cc; color: #eeeeee;}

.divPage
{
    display: block;

    margin: 5px auto 5px auto;

    width: 50%;
    border: 0;
    height: 1px;
    background: #333;
}
.upLink
{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #333;
}
.upLink:hover
{
    color: rgb(110, 110, 110);
}